{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Device Registration{% endblock %}</h1>
  {% if g.user %}
    <p>Change later</p>

  {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="column">
      <h2>Sensors</h2>
      <ul class="lists" id="sensors">
      </ul>
      <div class = "button register" >Register Sensor</div>
    </div>
    <div class="column">
      <h2>Devices</h2>
      <ul class="lists" id="devices">
      </ul>
      <div class = "button register" class="register">Register Device</div>
    </div >
</div> 
<script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="module" src="{{ url_for('static',filename='devices.js') }}"></script>


{%endblock%}