{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Device Registration{% endblock %}</h1>
  {% if g.user %}
    <p>Change later</p>

  {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="column">
      <ul class="lists">
        <!--{%for sensor in sensor_list%}
        {{sensor}}
        {%endfor%}-->
        <li>
          <div class = "id">1001</div>
          <div class = "name">3in Moisture</div>
          <div class = "button edit">edit</div>
        </li>
        <li>
          <div class = "id">1001</div>
          <div class = "name">3in Moisture</div>
          <div class = "button edit">edit</div>
        </li>
      </ul>
      <div class = "button">Register Sensor</div>
    </div>
    <div class="column">
      <ul class="lists">
        <li>hello</li>
      </ul>
      <div class = "button">Register Device</div>
    </div >
</div> 
<script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='devices.js') }}"></script>


{%endblock%}