{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Data Visualizer{% endblock %}</h1>
  {% if g.user %}
    

  {% endif %}
{% endblock %}

{% block content %}
  <div id = "app">
    <canvas id="myChart" width="400" height="200"></canvas> 
    <div id="chart-settings">
      <div id="rst-btn" class="button">Reset Zoom</div>
    </div>
    

    <label for="sampled-date-start">Start Sampled Date</label>
    <input type="datetime-local" step="1" name="sampled-date-start" id="sampled-date-start" value="null">
    <br>
    <label for="sampled-date-to">End Sampled Date</label>
    <input type="datetime-local" step="1" name="sampled-date-to" id="sampled-date-to" value="null">


    <div class="graph-lists">
      <h3>Sensors</h2>
      <ul id="sensors" class="graph-list">
        {%for sensor in sensor_list%}
        <li class="active">{{sensor}}</li>
        {%endfor%}
      </ul>

      <h3>Devices</h2>
      <ul id="devices" class="graph-list">
        {%for device in sensor_list%}
        <li class="active">{{device}}</li>
        {%endfor%}
      </ul>
    </div>

  </div>
  

  <!--<<script src="{{ url_for('static',filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>-->
  
  <!--<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js "></script>-->
  <script src="{{ url_for('static',filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
  <script src="{{ url_for('static',filename='node_modules/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='node_modules/chartjs-adapter-moment/dist/chartjs-adapter-moment.min.js') }}"></script>
  <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='node_modules/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.js') }}"></script>
  <!--<script src="{{ url_for('static',filename='node_modules/vue/dist/vue.global.js') }}"></script>-->

  <script>
    const chart_data = {{ data|tojson }};
    console.log(chart_data);
    const device_list = {{ device_list|tojson }};
    const sensor_list = {{ sensor_list|tojson }};
  </script>

  <script type="module" src="{{ url_for('static',filename='data.js') }}"></script>
  
{%endblock%}
